/* line 2, ../sass/login.scss */
.container-wrap {
  margin: 0 auto;
  width: 1220px;
  padding-left: 200px;
}
/* line 6, ../sass/login.scss */
.container-wrap .login-logo {
  width: 540px;
  margin: 250px auto 0;
  padding-left: 53px;
}
/* line 10, ../sass/login.scss */
.container-wrap .login-logo .login-link {
  padding-top: 15px;
  display: inline-block;
  width: 184px;
  height: 61px;
  margin-right: 40px;
}
/* line 16, ../sass/login.scss */
.container-wrap .login-logo .login-link img {
  vertical-align: middle;
  width: 184px;
  height: 61px;
  display: block;
  margin: 0 auto;
}
/* line 24, ../sass/login.scss */
.container-wrap .login-logo .login-text {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  border-left: 1px solid #000;
  padding-left: 40px;
}
/* line 32, ../sass/login.scss */
.container-wrap .login-box {
  width: 380px;
  margin: 60px auto 0;
}
/* line 35, ../sass/login.scss */
.container-wrap .login-box form {
  width: 380px;
}
/* line 37, ../sass/login.scss */
.container-wrap .login-box form dl {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}
/* line 41, ../sass/login.scss */
.container-wrap .login-box form dl dt {
  float: left;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  letter-spacing: 2px;
  width: 78px;
}
/* line 48, ../sass/login.scss */
.container-wrap .login-box form dl dt:after {
  display: inline-block;
  content: '';
  overflow: hidden;
  width: 100%;
  height: 0;
}
/* line 56, ../sass/login.scss */
.container-wrap .login-box form dl dd {
  padding-left: 64px;
  position: relative;
}
/* line 59, ../sass/login.scss */
.container-wrap .login-box form dl dd input {
  border: 1px solid #ddd;
  color: #666;
  padding: 10px 12px;
  width: 300px;
  display: block;
}
/* line 65, ../sass/login.scss */
.container-wrap .login-box form dl dd input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 68, ../sass/login.scss */
.container-wrap .login-box form dl dd input::-moz-placeholder {
  color: #ccc;
}
/* line 71, ../sass/login.scss */
.container-wrap .login-box form dl dd input:-ms-input-placeholder {
  color: #ccc;
}
/* line 75, ../sass/login.scss */
.container-wrap .login-box form dl dd .placeholder {
  width: 318px;
  display: block;
  padding-left: 90px;
}
/* line 82, ../sass/login.scss */
.container-wrap .login-box form .remember-password {
  margin-bottom: 30px;
}
/* line 86, ../sass/login.scss */
.container-wrap .login-box .login-btn {
  padding-left: 86px;
}
/* line 88, ../sass/login.scss */
.container-wrap .login-box .login-btn .btn-middle {
  font-size: 16px;
  padding: 7px 48px;
}
