/* line 2, ../sass/ordermanage.scss */
body {
    background: #edeef0;
    height: 100%;
}

/* line 6, ../sass/ordermanage.scss */
.container-wrap {
    background-color: #fff;
    margin-top: 60px;
    margin-left: 210px;
    height: 100%;
    padding-bottom: 80px;
    /*--------------------start add----------------------*/
    /*--------------------end add----------------------*/
    /*--------------------start list----------------------*/
}
/* line 13, ../sass/ordermanage.scss */
.container-wrap .upload-img {
    position: relative;
    padding: 60px 0 0 60px;
}
/* line 16, ../sass/ordermanage.scss */
.container-wrap .upload-img .layui-btn {
    line-height: 32px;
    height: 32px;
    width: 100px;
    position: absolute;
    top: -41px;
    right: 130px;
}
/* line 24, ../sass/ordermanage.scss */
.container-wrap .upload-img .save-btn {
    background-color: #33B371;
    right: 260px;
}
/* line 29, ../sass/ordermanage.scss */
.container-wrap .upload-btn {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    background: #fff url("/static/images/banner_manage/icon_upload.png") no-repeat 83px 37px;
}
/* line 37, ../sass/ordermanage.scss */
.container-wrap .upload-btn .upload-figure {
    position: absolute;
    width: 200px;
    height: 150px;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: 2;
}
/* line 49, ../sass/ordermanage.scss */
.container-wrap .upload-btn .upload-text {
    margin-top: 86px;
    text-align: center;
    color: #333;
    font-size: 16px;
}
/* line 55, ../sass/ordermanage.scss */
.container-wrap .upload-btn .upload-size {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #33B371;
}
/* line 62, ../sass/ordermanage.scss */
.container-wrap .uploaded-show {
    position: absolute;
    left: 310px;
    top: 101px;
    width: 268px;
    margin: 0 auto;
}
/* line 68, ../sass/ordermanage.scss */
.container-wrap .uploaded-show .img-link {
    display: block;
    width: 162px;
    height: 114px;
    border: 1px solid #E8E8E8;
    margin-bottom: 50px;
}
/* line 74, ../sass/ordermanage.scss */
.container-wrap .uploaded-show .img-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* line 81, ../sass/ordermanage.scss */
.container-wrap .add-text-list {
    margin: 40px 0 40px 0;
}
/* line 83, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-inline {
    display: block;
    margin-bottom: 15px;
}
/* line 86, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-inline .layui-form-label {
    width: 142px;
    font-size: 16px;
}
/* line 87, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-inline .layui-form-label i {
    color: #ee796c;
    line-height: 16px;
    font-size: 14px;
    font-weight: 800;
}
/* line 97, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-inline .layui-input-inline select {
    border: 1px solid #e6e6e6;
    width: 160px;
    height: 32px;
}
/* line 102, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-inline .layui-input-inline input {
    width: 400px;
}
/* line 107, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item {
    position: relative;
}
/* line 109, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-form-label {
    font-size: 16px;
    width: 142px;
}
/* line 112, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-form-label.status {
    margin-right: 16px;
}
/* line 115, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-form-label i {
    color: #ee796c;
    line-height: 16px;
    font-size: 14px;
    font-weight: 800;
}
/* line 123, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-input-block input, .container-wrap .add-text-list .layui-form-item .layui-input-block textarea {
    width: 400px;
    margin-left: 30px;
}
/* line 126, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-input-block input.design-number, .container-wrap .add-text-list .layui-form-item .layui-input-block textarea.design-number {
    color: red;
}
/* line 130, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-input-block .danwei {
    position: absolute;
    top: 5px;
    left: 430px;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
/* line 138, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .layui-input-block .add-btn {
    position: absolute;
    top: 0;
    left: 458px;
    width: 80px;
    background: #33B371;
}
/* line 147, ../sass/ordermanage.scss */
.container-wrap .add-text-list .layui-form-item .error {
    margin-left: 142px;
}
/* line 155, ../sass/ordermanage.scss */
.container-wrap .brand-model-list {
    height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* line 159, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .title {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    line-height: 50px;
}
/* line 165, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .search {
    margin-right: 15%;
    float: right;
    width: 314px;
    margin-top: 10px;
}
/* line 170, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .search input {
    height: 32px;
    line-height: 32px;
}
/* line 174, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .search .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: url(/static/images/search/search_icon.png) no-repeat center center;
}
/* line 181, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .search .search-btn:hover {
    background: url(/static/images/search/search_icon_hover.png) no-repeat center center;
}
/* line 186, ../sass/ordermanage.scss */
.container-wrap .brand-model-list .layui-btn {
    line-height: 32px;
    height: 32px;
    position: absolute;
    top: 69px;
    width: auto;
    right: 26%;
    background: #33B371;
}
/* line 196, ../sass/ordermanage.scss */
.container-wrap .layui-table {
    margin-left: 20px;
    width: auto;
}
/* line 199, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table, .container-wrap .layui-table.add-table {
    margin-left: 60px;
}
/* line 200, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table.table-closed, .container-wrap .layui-table.add-table.table-closed {
    display: none;
}
/* line 204, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table .layui-form-item, .container-wrap .layui-table.add-table .layui-form-item {
    margin-bottom: 0;
}
/* line 206, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table .layui-form-item .layui-input-block, .container-wrap .layui-table.add-table .layui-form-item .layui-input-block {
    width: 73px;
    min-height: 36px;
    float: left;
    margin-left: 14px;
}
/* line 211, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table .layui-form-item .layui-input-block .input-fee, .container-wrap .layui-table.add-table .layui-form-item .layui-input-block .input-fee {
    margin-top: 5px;
    height: 33px;
}
/* line 216, ../sass/ordermanage.scss */
.container-wrap .layui-table.edit-table .layui-form-item .layui-form-label, .container-wrap .layui-table.add-table .layui-form-item .layui-form-label {
    float: left;
    text-align: right;
}
/* line 222, ../sass/ordermanage.scss */
.container-wrap .layui-table.list-table {
    margin: 30px 0 30px 30px;
}
/* line 226, ../sass/ordermanage.scss */
.container-wrap .layui-table thead th {
    height: 40px;
    background-color: #F5F5F5;
    color: #666;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}
/* line 234, ../sass/ordermanage.scss */
.container-wrap .layui-table thead th .layui-inline .layui-form-label {
    padding: 0;
    width: 38px;
    text-align: left;
    margin-top: 10px;
}
/* line 239, ../sass/ordermanage.scss */
.container-wrap .layui-table thead th .layui-inline .layui-form-label select {
    height: 22px;
}
/* line 244, ../sass/ordermanage.scss */
.container-wrap .layui-table thead th .layui-inline .layui-input-inline .layui-form-select {
    width: 100px;
}
/* line 252, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td {
    height: 140px;
    text-align: center;
    color: #999;
}
/* line 256, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td.red {
    color: red;
}
/* line 259, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td em {
    color: red;
}
/* line 262, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td.complete {
    color: #33B371;
}
/* line 265, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td img {
    width: 100px;
    height: 100px;
}
/* line 269, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td .btn-group-justified {
    margin: 0 auto;
    width: auto;
}
/* line 273, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td .btnwrap {
    width: auto;
}
/* line 275, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td .btnwrap > .btn {
    display: block;
    margin: 8px auto;
    border-radius: 2px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0;
    background: #fff;
    color: #33B371;
    border: 1px solid #33B371;
}
/* line 287, ../sass/ordermanage.scss */
.container-wrap .layui-table tbody td .btnwrap > .btn:hover {
    outline: none;
    box-shadow: none;
    color: #fff;
    background-color: #33B371;
}
/* line 298, ../sass/ordermanage.scss */
.container-wrap .date-form {
    margin: 30px 0 15px 30px;
}
/* line 300, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item {
    position: relative;
}
/* line 302, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .layui-btn {
    position: absolute;
    top: 0;
    height: 36px;
    line-height: 36px;
    background: #33B371;
}
/* line 309, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .save-btn {
    left: 38%;
}
/* line 312, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table {
    right: 13%;
}
/* line 314, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .icon-down {
    position: absolute;
    top: 11px;
    right: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("/static/images/common/icon_down.png") no-repeat;
}
/* line 323, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list {
    z-index: 999;
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 92px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
/* line 333, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list.open {
    display: block;
}
/* line 336, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list .export-table-time-item {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}
/* line 343, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list .export-table-time-item:hover {
    border-bottom: 1px solid #f5f5f5;
}
/* line 345, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list .export-table-time-item:hover .export-table-time-item-link {
    color: #33B371;
}
/* line 349, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-item .export-table .export-table-time-list .export-table-time-item .export-table-time-item-link {
    display: block;
    font-size: 14px;
}
/* line 357, ../sass/ordermanage.scss */
.container-wrap .date-form .layui-form-label {
    width: auto;
}

/*--------------------start end----------------------*/
/* line 365, ../sass/ordermanage.scss */
.layui-laydate .layui-laydate-content .layui-this {
    background-color: #33B371 !important;
}

/*--------------------start edit----------------------*/
/* line 372, ../sass/ordermanage.scss */
.classify {
    margin: 20px 0 0 0;
}
/* line 374, ../sass/ordermanage.scss */
.classify .layui-input-block {
    margin: 5px 0;
}

/*--------------------end edit----------------------*/
