.toast-container {
	position: fixed;
	width: 100%;
	bottom: 50px;
	z-index: 2000;
	opacity: 0;
	-webkit-transition: opacity .8s;
    transition: opacity .8s;
}
.toast-container.active {
	opacity: 1;
}
.toast-container .toast-message {
	width: 90%;/*270px;*/
	margin: 5px auto;
	padding: 8px;
	background-color: #d8d8d8;
	text-align: center;
	color: #000;
	border-radius: 7px;
	font-size: 14px;
}

.toast-container.error .toast-message {
	color:#fb5a5a;
	background-color: #fff1f0;
}
.toast-container.success .toast-message {
	color:#71d445;
	background-color: #f3fbf0;
}
.toast-container.warning .toast-message {
	color:#ff8a0c;
	background-color: #fff9ef;
}